{% extends "base.html" %}
    {% block menu %}
        <li><a href="/">Home</a></li>
        <li><a href="/archives">archives</a></li>
        <li><a class="current" href="/about">About Us</a></li>
    {% end %}

    {% block content %}
        <div>
            <h1>
            Unlike most other template systems, we do not put any restrictions on the expressions you can include in your statements.
            if and for blocks get translated exactly into Python, so you can do complex expressions like:
            </h1>

        </div>
    {% end %}