{% extends "base.html" %}
    {% block menu %}
        <li><a href="/">Home</a></li>
        <li><a class="current" href="/archives">archives</a></li>
        <li><a href="/about">About Us</a></li>
    {% end %}

    {% block leftside %}
        <ul>
            <li id="categories">
              <h2>0000</h2>
            </li>
        </ul>
    {% end %}
    {% block content %}
        {% for i in abc %}
          <div id="post-1" class="post" style="margin: 15px auto;">
            <h2 class="title"> <a href="#">{{ abc[i][0] }}</a></h2>
            <h4 class="date">{{ abc[i][1] }}</h4>
          </div>
        {% end %}
    {% end %}