{% extends "base.html" %}
    {% block menu %}
        <li><a href="/">Home</a></li>
        <li><a class="current" href="/archives">archives</a></li>
        <li><a href="/about">About</a></li>
    {% end %}

    {% block leftside %}
        <ul>
            <li id="categories">
              <h2>0000</h2>
            </li>
        </ul>
    {% end %}
    {% block content %}
        {% for i in archives %}
          <div id="post-1" class="post" style="margin: 15px auto;">
            <h2 class="title"> <a href="#">{{ i['title'] }}</a></h2>
            <h4 class="date">{{ i['date'] }}</h4>
          </div>
        {% end %}
    {% end %}