{% extends "base.html" %}
    {% block menu %}
        <li><a href="/">Home</a></li>
        <li><a class="current" href="/archives">archives</a></li>
        <li><a href="/about">About</a></li>
    {% end %}

    {% block leftside %}
        <ul>
        <li id="categories">
          <h2>Categories</h2>
          <ul style="margin-left: 7px;padding-top: 10px">
            <li><a href="#">drw-r--r-- .</a></li>
            <li><a href="#">drw-r--r-- ..</a></li>
            <li><a href="#">drw-r--r-- root</a> <small>(10)</small></li>
            <li><a href="#">drw-r--r-- bin</a> <small>(19)</small></li>
            <li><a href="#">drw-r--r-- usr</a> <small>(28)</small></li>
          </ul>
        </li>
        <!-- end #categories -->
        <li id="archives">
          <h2>Archives</h2>
            <style>
            #news { width:100px; height:100px; overflow:auto;}
            </style>
          <ul style="margin-left: 7px;padding-top: 10px">
            <li><a href="#">April 2007</a></li>
            <li><a href="#">March 2007</a></li>
            <li><a href="#">February 2007</a></li>
            <li><a href="#">January 2007</a></li>
            <li><a href="#">December 2006</a></li>
          </ul>
        </li>
        <!-- end #archives -->
        <li id="blogroll">
          <h2>Blogroll</h2>
          <ul id='news' style="margin-left: 7px;padding-top: 10px">
            <li><a href="#">Jack Hogan</a></li>
            <li><a href="#">Jill Reagan</a></li>
            <li><a href="#">Humpty Smith</a></li>
            <li><a href="#">Bumpty Smith</a></li>
            <li><a href="#">Mary Lamb</a></li>
          </ul>
        </li>
        <!-- end #blogroll -->
      </ul>
    {% end %}
    {% block content %}
        {% for i in archives %}
          <div id="post-1" class="post" style="margin: 15px auto;">
            <h2 class="title"> <a href="/p/{{ i['id'] }}">{{ i['title'] }}</a></h2>
            <h4 class="date">{{ i['date'] }}</h4>
          </div>
        {% end %}
        <div style="margin-left:200px;">
            <ul>
            <li style="float: left;list-style-type:none;margin: 0 15px;"><h3><a href="/archives/{{ lastPage }}">上一页</a></h3></li>
            <li style="float: left;list-style-type:none;margin: 3px 10px 0 10px;"><h3><a name="{{ lastPage }}">{{ currentPage }}</a></h3></li>
            <li style="float: left;list-style-type:none;margin: 0 15px;"><h3><a href="/archives/{{ nextPage }}">下一页</a></h3></li>
            </ul>
        </div>
    {% end %}