{% extends "base.html" %}
    {% block menu %}
        <li><a href="/">Home</a></li>
        <li><a class="current" href="/archives">archives</a></li>
        <li><a href="/about">About</a></li>
    {% end %}

    {% block leftside %}
        <ul style="margin-top: 40px;margin-left: 40px;">
        <li id="categories">
          <h2>Categories</h2>
          <ul style="margin-left: 7px;padding-top: 10px;">
              {% for i in identies %}
                    <li><a href="/category/{{ i['identity'] }}">{{ i['identity'] }}&nbsp;({{ i['COUNT(*)'] }})</a></li>
              {% end %}
          </ul>
        </li>
        <!-- end #categories -->
        <li id="archives">
          <h2>Archives</h2>
            <style>
            #news { width:100px; height:100px; overflow:auto;}
            </style>
          <ul style="margin-left: 7px;padding-top: 10px">
              {% for i in Date %}
                    <li><a href="/date/{{ i['date'] }}">{{ i['date'] }}&nbsp;({{ i['COUNT(*)'] }})</a></li>
              {% end %}
          </ul>
        </li>
        <!-- end #archives -->
        <li id="blogroll">
          <h2>Blogroll</h2>
          <ul id='news' style="margin-left: 7px;padding-top: 10px">
            <li><a href="#">Jack Hogan</a></li>
            <li><a href="#">Jill Reagan</a></li>
            <li><a href="#">Humpty Smith</a></li>
            <li><a href="#">Bumpty Smith</a></li>
            <li><a href="#">Mary Lamb</a></li>
          </ul>
        </li>
        <!-- end #blogroll -->
      </ul>
    {% end %}
    {% block content %}
        {% for i in results %}
          <div id="post-1" class="post" style="margin: 15px auto;">
            <h2 class="title"> <a href="/p/{{ i['id'] }}">{{ i['title'] }}</a></h2>
            <h4 class="date">{{ i['date'] }}</h4>
          </div>
        {% end %}

    {% end %}