{% extends "base.html" %}
    {% block menu %}
        <li><a class="current" href="/">Home</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/about">About</a></li>
    {% end %}
    {% block leftside %}
        <ul>
        <li id="categories">
          <h2></h2>
          <ul>
              <div id="CalendarMain">
              <div id="title"> <a class="selectBtn month" href="javascript:" onclick="CalendarHandler.CalculateLastMonthDays();"><</a><a class="selectBtn selectYear" href="javascript:" onClick="CalendarHandler.CreateSelectYear(CalendarHandler.showYearStart);">2014年</a><a class="selectBtn selectMonth" onClick="CalendarHandler.CreateSelectMonth()">6月</a> <a class="selectBtn nextMonth" href="javascript:" onClick="CalendarHandler.CalculateNextMonthDays();">></a><a class="selectBtn currentDay" href="javascript:" onClick="CalendarHandler.CreateCurrentCalendar(0,0,0);"></a></div>
              <div id="context">
                <div class="week">
                  <h3> 一 </h3>
                  <h3> 二 </h3>
                  <h3> 三 </h3>
                  <h3> 四 </h3>
                  <h3> 五 </h3>
                  <h3> 六 </h3>
                  <h3> 日 </h3>
                </div>
                <div id="center">
                  <div id="centerMain">
                    <div id="selectYearDiv"></div>
                    <div id="centerCalendarMain">
                      <div id="Container"></div>
                    </div>
                    <div id="selectMonthDiv"></div>
                  </div>
                </div>
                <div id="foots"><a id="footNow">19:14:34</a></div>
              </div>
              </div>
          </ul>
        </li>
        <!-- end #categories -->
        <li id="archives">
          <h2>Archives</h2>
          <ul style="margin-left: 7px;padding-top: 10px;">
            <li><a href="#">April 2007</a></li>
            <li><a href="#">March 2007</a></li>
            <li><a href="#">February 2007</a></li>
            <li><a href="#">January 2007</a></li>
            <li><a href="#">December 2006</a></li>
          </ul>
        </li>
        <!-- end #archives -->
        <li id="blogroll">
          <h2>Blogroll</h2>
          <ul style="margin-left: 7px;padding-top: 10px;">
            <li><a href="#">Jack Hogan</a></li>
            <li><a href="#">Jill Reagan</a></li>
            <li><a href="#">Humpty Smith</a></li>
            <li><a href="#">Bumpty Smith</a></li>
            <li><a href="#">Mary Lamb</a></li>
          </ul>
        </li>
        <!-- end #blogroll -->
        <li id="meta">
          <h2>Meta</h2>
          <ul style="margin-left: 7px;padding-top: 10px;">
            <li><a href="#">Site Admin</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
          </ul>
        </li>
        <!-- end #meta -->
      </ul>
    {% end %}

    {% block content %}
    <style>
    #ticker { width:650px; height:500px; border:1px solid #aaaaaa; overflow:auto; }
    #ticker dt { font:normal 14px Georgia; padding:0 10px 5px 10px; background-color:#e5e5e5; padding-top:10px; border:1px solid #ffffff; border-bottom:none; border-right:none; position:relative; }
    #ticker dd { margin-left:0; font:normal 11px Verdana; padding:0 10px 10px 10px; border-bottom:1px solid #aaaaaa; background-color:#e5e5e5; border-left:1px solid #ffffff; position:relative; }
    #ticker dd.last { border-bottom:1px solid #ffffff; }
    #ticker div { margin-top:0; }
    </style>
    <script type="text/javascript" src="jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
	  $(function() {
		var ticker = $("#ticker");
		ticker.children().filter("dt").each(function() {
		  var dt = $(this),
		    container = $("<div>");
		  dt.next().appendTo(container);
		  dt.prependTo(container);
		  container.appendTo(ticker);
		});
		ticker.css("overflow", "hidden");
		function animator(currentItem) {
		  var distance = currentItem.height();
			duration = (distance + parseInt(currentItem.css("marginTop"))) / 0.005;
		  currentItem.animate({ marginTop: -distance }, duration, "linear", function() {
			currentItem.appendTo(currentItem.parent()).css("marginTop", 0);
			animator(currentItem.parent().children(":first"));
		  });
		};
		animator(ticker.children(":first"));
		ticker.mouseenter(function() {
		  ticker.children().stop();
		});
		ticker.mouseleave(function() {
		  animator(ticker.children(":first"));
		});
	  });
    </script>

      <div id="post-1" class="post">
        <h2 class="title"> <a href="#">Introduction to Linux Blog</a></h2>
        <h4 class="date">March 26, 2007</h4>
        <div id="tickerContainer">
          <dl id="ticker">
                <dt class="heading">This is a news title!</dt><dd class="text">This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
              This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
              This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
              This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
              This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
              This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
               This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
              This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
                            This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
              This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
                            This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
              This is a snippet of the news. It could be the whole news item or it could link to another page containing...<br>
              This is a snippet of the news. It could be the whole news item or it could link to another page containing...</dd>

          </dl>
        </div>
      </div>

      <!-- end #post-2 -->

    {% end %}