{% extends "base.html" %}
    {% block menu %}
        <li><a href="/">Home</a></li>
        <li><a class="current" href="/archives">archives</a></li>
        <li><a href="/about">About Us</a></li>
    {% end %}

    {% block leftside %}
        <ul>
        <ul>
        <li id="categories">
          <h2>Categories</h2>
          <ol>
            <li><a href="#1">Heading Level Three</a></li>
            <li><a href="#2">Ordered List</a></li>
              <li><a href="#3">Ordered List3</a></li>
              <li><a href="#4">Ordered List4</a></li>
          </ol>
        </li>
        </ul>
    {% end %}
    {% block content %}
      <div id="post-2" class="post">
        <h2 class="title"> <a href="#">Sample Tags</a></h2>
        <h4 class="date">January 31, 2007</h4>
        <div class="entry">
          <p>A one-sentence paragraph followed by a blockquoted paragraph.</p>
          <blockquote>
            <p>&ldquo;A collection of nursery rhymes and songs to share and enjoy, with pictures to print off and color in.&rdquo;</p>
          </blockquote>
            <h3><a name="1">Heading Level Three</a></h3>
          <ul>
            <li>Jack and Jill went up the hill</li>
            <li>To fetch a pail of water</li>
            <li>Jack fell down, and broke his crown</li>
            <li>And Jill came tumbling after.</li>
          </ul>
            <h3><a name="2">Ordered List</a></h3>
          <ol>
            <li>Mary had a little lamb</li>
            <li>Its fleece was white as snow</li>
            <li>And everywhere that Mary went</li>
            <li>The lamb was sure to go.</li>
          </ol>
        </div>
        <p class="meta">Posted in <a href="#">Category #1</a> | <a href="#">Edit</a> | <a href="#">1 Comment &raquo;</a></p>
      </div>
    {% end %}