{% extends "base.html" %}
    {% block menu %}
        <li><a href="/">Home</a></li>
        <li><a class="current" href="/archives">archives</a></li>
        <li><a href="/about">About Us</a></li>
    {% end %}

    {% block leftside %}
        <ul>
        <ul>
        <li id="categories">
          <h2>Categories</h2>
          <ul>
            <li><a href="#1">一、集群的定义</a></li>
            <li><a href="#2">二、集群的基本特点</a></li>
              <li><a href="#6">三、集群的分类</a></li>
              <li><a href="#4"></a></li>
          </ul>
        </li>
        </ul>
        </ul>
    {% end %}
    {% block content %}
      <div id="post-2" class="post">
        <h2 class="title"> <a href="#">集群</a></h2>
        <h4 class="date">January 31, 2007</h4>
        <div class="entry">
        {% raw essay %}
        </div>
      </div>
    {% end %}