{% extends "base.html" %}
    {% block menu %}
        <li><a href="/">Home</a></li>
        <li><a class="current" href="/archives">archives</a></li>
        <li><a href="/about">About</a></li>
    {% end %}

    {% block leftside %}
        <ul>
                <li id="categories">
                  <h2>Categories</h2>
                  <ul>
                        {% for each in catalog %}
                            <li><a href="#{{ each['essay-title'] }}">{{ each['essay-title'] }}</a></li>
                        {% end %}
                  </ul>
                </li>
        </ul>
    {% end %}
    {% block content %}
      <div id="post-2" class="post">
        <h2 class="title"> <a href="#">{{ title }}</a></h2>
        <h4 class="date">{{ date }}</h4>
        <div class="entry">
        {% raw essay %}
        </div>
      </div>
<script>
/*
    $(function(){
    $("#praise").click(function(){
        var praise_img = $("#praise-img");
        var text_box = $("#add-num");
        var praise_txt = $("#praise-txt");
        var num=parseInt(praise_txt.text());

        if(praise_img.attr("src") == ("/static/images/yizan.png")){
            $(this).html("<img src='/static/images/zan.png' id='praise-img' class='animation' />");
            praise_txt.removeClass("hover");
            text_box.show().html("<em class='add-animation'>-1</em>");
            $(".add-animation").removeClass("hover");
            num -=1;
            praise_txt.text(num)
        }else{
            $(this).html("<img src='/static/images/yizan.png' id='praise-img' class='animation' />");
            praise_txt.addClass("hover");
            text_box.show().html("<em class='add-animation'>+1</em>");
            $(".add-animation").addClass("hover");
            num +=1;
            praise_txt.text(num)
        }
    });
});
*/
</script>
    <div class="praise">
        <span id="praise"><img src="/static/images/zan.png" id="praise-img" /></span>
        <span id="praise-txt">1455</span>
        <span id="add-num"><em>+1</em></span>
    </div>
    {% end %}